In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark Tutorials").getOrCreate()

In [24]:
df=spark.read.json("data2.json")
df.show()

+---+---------+-------+
|age|   grades|   name|
+---+---------+-------+
| 25|[A, A, B]|  Ankit|
| 24|[B, B, B]|Kashish|
| 23|[A, C, B]| Slavvy|
+---+---------+-------+

## Creating a Temporary view

In [12]:
df.createOrReplaceTempView('temp_view_example')
temp_view_example=spark.sql("select * from temp_view_example where age=25")
temp_view_example.show()

+---+---------+-----+
|age|   grades| name|
+---+---------+-----+
| 25|[A, A, B]|Ankit|
+---+---------+-----+

## Creating a Global Temporary View

In [14]:
df.createGlobalTempView("global_temp_view_example")
global_temp_view_example=spark.sql("select * from temp_view_example where age<25")
global_temp_view_example.show()

+---+---------+-------+
|age|   grades|   name|
+---+---------+-------+
| 24|[B, B, B]|Kashish|
| 23|[A, C, B]| Slavvy|
+---+---------+-------+

## Join in Spark SQL

In [22]:
df2=spark.read.json("data.json")
df2.createOrReplaceTempView('temp_view_example2')
temp_view_example2=spark.sql("select * from temp_view_example2")
temp_view_example2.show()

+---+-----+
|age| name|
+---+-----+
| 25|Sethu|
| 26|Manan|
| 25|Shree|
+---+-----+

In [23]:
join_table_example=spark.sql("select * from temp_view_example \
inner join temp_view_example2 on temp_view_example.age=temp_view_example2.age")
join_table_example.show()

+---+---------+-----+---+-----+
|age|   grades| name|age| name|
+---+---------+-----+---+-----+
| 25|[A, A, B]|Ankit| 25|Shree|
| 25|[A, A, B]|Ankit| 25|Sethu|
+---+---------+-----+---+-----+